
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-decoration: none;
    list-style: none;
}

@media(max-width:576px){ /*Acomodo para cel*/
    .header .btn{
        display: block;
    }
    .navbar{
        position: absolute;
        display: none;
    }
    .navbar .active{
        display: block;    
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        
    }
}

@media(min-width:768px){  /*Acomodo para tablet*/
     .header .btn{
        display: none;
    }
   

}

@media(min-width:900px){ /*Acomodo para pantalla grande*/
    .header .btn{
        display: none;
    }
}
/* Sección de presentación */
.header{
    position: fixed;
    opacity: 90%;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 35px, 12%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: rgb(202, 19, 162);;
    text-shadow: 0 0 15px rgb(202, 19, 162), 0 0 50px rgb(202, 19, 162);
    transform: scale(1.1);
}
span{
    color: rgb(202, 19, 162);
}

.navbar a{
  
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.navbar a:hover, .navbar a:active{
    color: rgba(52, 248, 245, 0.8);
    border-bottom: 3px solid rgba(52, 248, 245, 0.8);;
}

.contact{
    padding:  10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size:  16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: rgb(202, 19, 162);
    box-shadow: 0 0 25px rgb(202, 19, 162);
    color: white;
}

.home{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 60px;
    line-height: 1.2;
}
.home-content p{
    font-size: 20px;
    margin: 25px 0 30px;
    text-align: justify;
    color: black;
}
.img-box{
    border-radius: 50%;
    width: 500px;
    box-shadow: 0 0 25px rgba(52, 248, 245, 0.8),
                0 0 50px rgba(52, 248, 245, 0.8);
    border-radius: 50%;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2{
    padding: 15px 28px;
    background-color: rgba(52, 248, 245, 0.8);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-2:hover{
    background-color: white;
    color: rgba(52, 248, 245, 0.8);
}

/* barra de navegacion 
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(52, 248, 245, 0.8);
}

::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.6);
    width: 50px;
}*/
::-webkit-scrollbar{
    width: 0;
}

.scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);

}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%; 
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    animation: animatebar 5s linear infinite;
}

@keyframes animatebar{
    0%,100%
    {
        filter: hue-rotate(0 deg);
    }

    50%
    {
        filter: hue-rotate(360 deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    filter: blur(10px);

}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    filter: blur(30px);

}
/* Sección acerca de mi */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 2%; 
    gap: 10em;
    background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px rgba(52, 248, 245, 0.8),
                0 0 50px rgba(52, 248, 245, 0.8);
    border-radius: 50%;
}

.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}

.about-content h3{
    color: white;
    font-size: 65px;
}

.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
    text-align: justify;
}

/* Seccion cards */
.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    padding: 15px;
    gap: 1.2rem;
   
}
.card{ /*Fondo de las tarjetas grandes*/
    /* background-color: #ff6f01; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /*Sombra de las tarjetas*/
    transition: transform 0.5s;

}
.card {/*Sombra de las tarjetas al pasar el cursor*/
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body h5 , p{ /*Color texto de las tarjetas grandes*/
    /* color: rgb(0, 0, 0); */
   
    color: white;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    /* margin-top: 2rem; */
    /* margin-right: 20px; */
    max-width: auto;
  
    
}

.card{
    
    box-sizing: border-box;
    height: auto;
    background-color: rgb(255, 255, 255); /*PENDIENTE*/
    border-radius: 8px;
    width: 600px;
    height: 600px;
    justify-content: center;
}

.card img{
    object-fit: contain;
    height: 55%;
    width: auto;
}
.borde{
    background: linear-gradient(to right, red, purple);
    padding: .3rem;
    border-radius: 8px;
}
.card p{
    font-size: 1.2rem;
    text-align: justify;
    padding: .5rem;
    color: rgb(0, 0, 0);

}
.card h3{
    padding: .8rem;
 
}
.heading{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 40px;
    
}
.heading h2{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
    
}
 
.btn{
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px 20px; */
    /* margin: 5px 0; */
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    /* background: linear-gradient(90deg, #0162c8, #55e7fc); */
    background: linear-gradient(90deg, #755bea,#ff72c0);
    
}

.btn span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
    
}

@keyframes animate{
    0%
    {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }

    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


/* Sección de formulario */
.form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 40px;
}

.form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form form .input-box input,
.form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background-color: rhb(241,241,241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

/* Sección de footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .redes{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .redes a{
    font-size: 24px;
    color: white;
    border: 2px solid rgb(202, 19, 162);
    height: 40px;
    width: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10pxrgb(202, 19, 162), 0 0 10px rgb(202, 19, 162);
    transition: 0.3s;
}

.footer .redes a:hover{
    transform:  scale(1.2) translateY(-10px);
    color:   #833ab4;
    border: 2px solid   #833ab4;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size:  18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li{
    display:  inline-block;
    padding:  0 15px;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}