
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-decoration: none;
    list-style: none;
    /* width: 100%; */
    /* overflow-x: hidden; */
}

@media(max-width:425px){ /*Acomodo para cel*/
    /* ----- navbar */
    .header{
        display: flex;
        width: 100%;
       position: fixed;
       justify-content: center;
    }
    .header .btn{
        display: block;
    }
    .header .contact{
        display: none;
    }
    .navbar{
        position: absolute;
        display: none;
        max-width: 425px;
    }
    .navbar .active{
        display: block;    
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

   
    /* ---Encabezado */
    .home{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }
    .home img{
        margin-top: 5rem;
        margin-left: 1rem;
        align-items: center;
        width: 95%;
    }
    .home-content p{
        display: flex;
    }
    /* ----------SKILLS */

    .container{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 2.5rem;
        padding: 0;
    }
    .iconos {
        display: grid;
        grid-template-columns: 1fr 1fr; /*Dos columnas */
        gap: 8px;
      
      }
    .iconos img{
        width: 100%;
        max-width: 100px;
        height: auto;
    }
    .iconos :hover{
        transform: scale(1.2);
    }
    .skills-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .heading{
        padding: 1.1rem;
        box-sizing: border-box;
    }
    /* -------CARDS */
    .tarjetas {
        flex-direction: column; /* Hacer que las tarjetas se apilen verticalmente */
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    .card {
        width: 100%; /* Ajustar la tarjeta para que ocupe el 100% del ancho de la pantalla */
        max-width: 350px;
        height: auto; /* Dejar que la altura se ajuste automáticamente */
        /* padding: 8px; Añadir algo de espacio interno para una mejor visualización */
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    .card img {
        height: auto; /* Ajustar la imagen para que no desborde */
        width: 100%; /* Hacer que la imagen ocupe el 100% del ancho de la tarjeta */
        max-width: 300px;
        /*object-fit: cover; Asegurar que la imagen se recorte si es necesario para llenar el espacio*/
    }

    .card p {
        /* font-size: 1rem; Reducir el tamaño del texto */
        display: none;
    }

    .card h3 {
        font-size: 1.2rem; /* Ajustar el tamaño del título */
        margin: 0;
        padding: 0;
    }

    .heading h2 {
        font-size: 1.8rem; /* Reducir el tamaño del encabezado en pantallas pequeñas */
    }

    .btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    /* -------EDUCACION */
    .form-1{
        justify-content: center;
        align-items: center;
    }

    .timeline{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .checkpoint{
        /* display: flex; */
        align-content: center;
        justify-content: center;
        max-width: 350px;
        width: 75%;
        height: auto;
        padding-top: .5rem;
        padding-bottom: 1rem;
        position: relative;
        margin: 0;
        padding: 0;
    }

    /* -------cuestionario */
    .form form{
        max-width: 320px;
    }
 
}


@media(max-width:768px){  /*Acomodo para tablet*/
    /* ---Nabvar */
    .header .btn{
        display: block;
    }
    .navbar{
        position: fixed;
        display: none;
    }
    .navbar .active{
        display: none;    
    }
    
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    /* ---Encabezado */
    .home{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center; */
        align-items: center;
        gap: .3rem;
    }
    .home img{
        margin-top: 5rem;
        margin-left: 3rem;
        align-items: center;
        /* justify-content: center; */
        width: 80%;
    }
    /* ----------SKILLS */
    .container{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .iconos {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 5rem;
      }
    .iconos img{
        width: 80px;
        height: auto;
    }
    .iconos :hover{
        transform: scale(1.2);
    }
    .skills-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    /* -------CARDS */
    .card{
        box-sizing: border-box;
    }
    .card p{
        font-size: 1rem;
        text-align: justify;
        padding: 0;
    }
    .btn{
       padding: 5px 10px; 
    }
    /* -------EDUCACION */
    .form-1{
        display: flex;
        align-items: center;
    }
    .checkpoint{
        display: flex;
        align-items: center;
        max-width: 400px;
        width: 100%;
        height: auto;
        padding-top: .5rem;
        padding-bottom: 1rem;
        position: relative;
    }

    /* ---cuestionario */
    .form form{
        width: 550px; 
        margin: 0;
        padding: 0;
     }
    
}

@media(min-width:769px){ /*Acomodo para pantalla grande*/
    /* ---Nabvar*/
    .header .btn{
        display: none;
    }
   
    /* ---Encabezado */
    .home{
        width: 100%;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap-reverse; */
        justify-content: center;
    }
    
    .home img{
        margin-top: 4rem;
        margin-right: 2rem;
        align-items: center;
        justify-content: center;
    }
   .hamburguesa{
    display: none;
   }

    /* ------------skills */
    .about {
        width: 100%;
        flex-direction: row; /* Cambia la dirección a fila para pantallas grandes */
        justify-content: center;
        gap: 5rem; /* Ajusta el espaciado */
    }

    .iconos {
        justify-content: center;
        gap: 5rem; /* Menos espacio entre los iconos en pantallas grandes */
    }

    .iconos img {
        width: 120px; /* Iconos más pequeños para pantallas grandes */
    }

    .skills-2 {
        justify-content: center;
        gap: 2rem;
    }

    .about-content h2 {
        font-size: 36px; /* Un tamaño de fuente más pequeño para pantallas más grandes */
    }

    /* -------CARDS */

    /* -------EDUCACION */
    .checkpoint{
        display: flex;
        max-width: 600px;
        width: 100%;
        height: auto;
    }
    .checkpoint:nth-child(odd){ /* Espacios y lineas rosas*/
        /* border-left: 6px solid rgb(202, 19, 162); */
        padding-left: 3rem;
        transform: translateX(17rem);
    }
    
    .checkpoint:nth-child(even){
        border-right: 6px solid rgb(202, 19, 162);
        padding-right: 3rem;
        transform: translateX(-17em);
    }
    
    .checkpoint:nth-child(odd)::before,
    .checkpoint:nth-child(even)::before{
        content: '';
        width: 3em;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .checkpoint:nth-child(odd)::before{
        left: 0;
    }

    /* -------cuestionario */

    /* ----formulario */
    .form form{
        max-width: 800px;
    }
}

/* ------------------------------------------------------------Sección de presentación */
.header{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    opacity: 90%;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 35px, 12%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover{
    color: rgb(202, 19, 162);;
    text-shadow: 0 0 15px rgb(202, 19, 162), 0 0 50px rgb(202, 19, 162);
    transform: scale(1.1);
}
span{
    color: rgb(202, 19, 162);
}
.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.navbar a:hover, .navbar a:active{
    color: rgba(52, 248, 245, 0.8);
    border-bottom: 3px solid rgba(52, 248, 245, 0.8);;
}

.contact{
    padding:  10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size:  16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover{
    background-color: rgb(202, 19, 162);
    box-shadow: 0 0 25px rgb(202, 19, 162);
    color: white;
}
/* Estilos del botón de hamburguesa */
.menu_toggle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    /* border: 1px solid rgb(217, 217, 217); */
    /* box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.2); */
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 12px;
}

.menu_toggle .line{
    position: relative;
    width: 60px;
    height: 5px;
    background-color: rgb(202, 19, 162);
    border-radius: 10px;
}

ol,ul{
    list-style: none;
}
.ham{
    display: none;
}

.ul_links{
    width: 100%;
    /* background-color:orange; */
    background: linear-gradient(to top, red, purple);
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}
.list_icon{
    color: rgb(202, 19, 162);
    cursor: pointer;
}
.ul_links a{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}


.menu_toggle .line:nth-child(1){
    top: 0;
    transform: rotate(0);
    transition: top 0.2 ease, transform 0.4s ease;
}

.menu_toggle .line:nth-child(2){
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.menu_toggle .line:nth-child(2){
    top: 0;
    transform: rotate(0);
    transition: top 0.2 ease, transform 0.4s ease;
}
/* animacion del boton */
.menu_toggle.active .line:nth-child(1){
    top: 18px;
    transform: rotate(45deg);
}
.menu_toggle.active .line:nth-child(2){
    opacity: 0;
    visibility: hidden;
}
.menu_toggle.active .line:nth-child(3){
    top: -16px;
    transform: rotate(-45deg);
}
.ham:checked + .ul_links{
    height: calc(100vh - 60px);
}

/* encabezado */
.home{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241,241,241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 60px;
    line-height: 1.2;
}
.home-content p{
    font-size: 20px;
    margin: 25px 0 30px;
    text-align: justify;
    color: black;
}
.img-box{
    border-radius: 50%;
    width: 500px;
    box-shadow: 0 0 25px rgba(52, 248, 245, 0.8),
                0 0 50px rgba(52, 248, 245, 0.8);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float { /*Efecto flotante de la imagen de portada*/
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.btn-box{
    width: 400px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;    
}

.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn-2{
    padding: 15px 40px;
    background-color: rgba(29, 225, 222, 0.8);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-2:hover{
    background-color: white;
    color: rgba(52, 248, 245, 0.8);
}

::-webkit-scrollbar{
    width: 0;
}

.scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);

}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%; 
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    animation: animatebar 5s linear infinite;
}

@keyframes animatebar{
    0%,100%
    {
        filter: hue-rotate(0 deg);
    }

    50%
    {
        filter: hue-rotate(360 deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    filter: blur(10px);

}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
    filter: blur(30px);

}
/* ---------------------------------------------------Sección skills */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 5% 2%; 
    gap: 10rem;
    background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.about-content h2{
    text-align: center;
    color: white;
    font-size: 42px;
}

.iconos {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}
  
.iconos img {
    width: 180px; /* Ajusta según tu preferencia */
    height: auto;
}

.iconos :hover{
    transform: scale(1.2);
}

.skills-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.soft{
    color: white;
    gap: 2rem;
    letter-spacing: 1px;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 10px 15px;

}
.btn-3{
    padding: 15px 28px;
    background-color: rgba(52, 248, 245, 0.8);
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-3:hover{
    background-color: white;
    color: rgba(52, 248, 245, 0.8);
}

/* --------------------------------------------------------- Seccion cards */

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    padding: 15px;
    margin: 2px;
    gap: 1rem;
}

.card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    max-width: auto;
    background-color: rgb(255, 255, 255); /*PENDIENTE*/
    border-radius: 8px;
    width: 450px;
    height: 550px;
}

.card img{
    object-fit: contain;
    height: 55%;
    width: auto;
}
.borde{
    background: linear-gradient(to right, red, purple);
    padding: .3rem;
    border-radius: 12px;
    width: auto;
    height: auto;
}
.card p{
    font-size: 1.2rem;
    text-align: justify;
    padding: .5rem;
    /* margin: .2rem; */
    color: rgb(0, 0, 0);

}
.card h3{
    padding: .8rem;
 
}
.heading{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 40px;
    
}
.heading h2{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
 
.btn{
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px 20px; 
    /* margin: 5px 0; */
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    /* background: linear-gradient(90deg, #0162c8, #55e7fc); */
    background: linear-gradient(90deg, #755bea,#ff72c0);
    
}


/* ------------------------------------------------------EDUCACIÓN */

.form-1{
    display: flex;
    flex-direction: column;
}
.form-1 h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 40px;
}


.timeline h2{
    margin-top: 1rem;
    font-size: 2rem;
}
 .timeline p{
    color: black;
    margin-bottom: 1rem;
 }

.timeline{
    margin: 2em auto;
    max-width: 34.15em;
}

.checkpoint{
    max-width: auto;
    padding-top: .8rem;
    padding-bottom: 2rem;
    position: relative;
}

.checkpoint div{
    background-color: black;
    opacity: 90%;
    color: white;
    background-size: 500%;
    /* animation: fanimado 30s infinite; */
    border: 2px solid black;
    border-radius: 1.2rem;
    padding: .8rem;
    margin-top: 1rem;
    padding-top: 0;
    width: 31.5rem;
    height:auto;
    justify-content: center;
    align-content: center;
}

.checkpoint p {
    line-height: 27px;
    color: white;
}


/* ------------------------------------------Sección de formulario */

.form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 40px;
}

.form form{
   display: flex;
   flex-direction: column;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}

.form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form form .input-box input,
.form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: rhb(241,241,241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

/* ------------------------------------------------------------Sección de footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .redes{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .redes a{
    font-size: 24px;
    color: white;
    border: 2px solid rgb(202, 19, 162);
    height: 40px;
    width: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10pxrgb(202, 19, 162), 0 0 10px rgb(202, 19, 162);
    transition: 0.3s;
}

.footer .redes a:hover{
    transform:  scale(1.2) translateY(-10px);
    color:   #833ab4;
    border: 2px solid   #833ab4;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}